.addCard {
  height: 400px;
  width: 200px;
  padding: 10px 40px;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 6px;
  box-shadow: 1px 2px 2px 1px #e4e5e7;
  color: #322d2d;
  background-color: brown;
  transition: 0.1s;
}
