.card {
  height: 60px;
  width: 60vw;
  padding: 10px 20px;
  display: grid;
  grid-template: 1fr / 70% 15%;
  grid-gap: 10%;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  border-radius: 6px;
  box-shadow: 0 2px 1px #e4e5e7;
  color: #322d2d;
  background-color: #f6f7fb;
}

.cardContents {
  display: grid;
  grid-template: 1fr / 50% 1px 30% 1px 20%;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}

.cardButtons {
  display: grid;
}
