.container {
  padding: 5vh 10vw;
  display: grid;
  grid-template: 1fr / repeat(3, auto);
  gap: 50px;
  align-items: center;
  justify-content: space-around;
}

.card {
  display: grid;
  grid-template: repeat(2, auto) / 1fr;
  gap: 20px;
  justify-items: center;
}

.cardIndex {
  font-family: Futura, Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 2.5px;
  color: #322d2d;
}

.buttonBack,
.buttonForward {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.buttonBack {
  background-image: url(../../icons/arrow-left-black.png);
}

.buttonForward {
  background-image: url(../../icons/arrow-right-black.png);
}
